<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.universe.ifr.universe">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoTitle">

        <!-- SPLASH SCREEN -->
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogIn" />
        <activity android:name=".SignUp" />
        <activity android:name=".BaseActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".AccountSettings"
            android:label="Account Settings"
            android:parentActivityName=".BaseActivity" />

        <activity
            android:name=".CourseDetails"
            android:label="Course Details" />

    </application>

</manifest>